---
import "../../styles/bootstrap/bootstrap.css"
import "../../styles/bootstrap-icons/bootstrap-icons.css"
import Topbar from "../../components/Topbar.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";

export interface Props {
	title: string;
	description: string,
	noindex: boolean,
}

const { title, description, noindex = false} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
		{ noindex && <meta name="robots" content="noindex"> }
	</head>
	<body>
		<header>
			<Topbar />
			<Navbar />
		</header>
		<slot />
		<Footer />
		<script>
			import "../../scripts/bootstrap/bootstrap.bundle"
		</script>
		<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/644818984247f20fefedbded/1gusq05ah';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
	</body>
</html>

