---
import "../../styles/bootstrap/bootstrap.css"
import "../../styles/bootstrap-icons/bootstrap-icons.css"
import Topbar from "../../components/Topbar.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";

export interface Props {
	title: string;
	description: string,
	noindex: boolean,
}

const { title, description, noindex = false} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
		{ noindex && <meta name="robots" content="noindex"> }
	</head>
	<body>
		<header>
			<Topbar />
			<Navbar />
		</header>
		<slot />
		<Footer />
		<script>
			import "../../scripts/bootstrap/bootstrap.bundle"
		</script>
	</body>
</html>

