<div class="d-none d-lg-block d-xl-flex mt-3">
    <p class="mb-1"><i class="bi bi-clock me-2"></i> Same Day Fitting</p>
    <p class="mb-1 mx-xl-3"><i class="bi bi-calendar-check me-2"></i> Open 6 Days</p>
    <p class="mb-1"><i class="bi bi-map me-2"></i> We Cover Nottingham</p>
</div>