---
export interface Props {
    cardTitle: string,
    cardText: string,
    cardLink: string,
}

const {cardTitle, cardText, cardLink} = Astro.props;
---

<div class="card shadow-sm">
    <div class="card-body">
        <slot />
        <h3 class="card-title fs-5">{cardTitle}</h3>
        <p class="card-text">{cardText}</p>
        <a href={cardLink} class="btn btn-outline-dark">Find Out More</a>
    </div>
</div>