<!-- https://www.mobiletyres-nottingham.co.uk/vrnsearch/details -->
<!-- https://www.mobiletyres-nottingham.co.uk/tyresearch/results?Width=205&Profile=55&Rim=16&Speed= -->

<form method="get" class="bg-white p-4 border shadow-lg rounded-3" action="https://www.mobiletyres-nottingham.co.uk/vrnsearch/details">

    <p class="text-center mb-3 fs-4 fw-bold">Get A Quote</p>

    <!-- Registration Section -->
    <div>
        <div class="mb-2">
            <input type="text" class="form-control form-control-lg text-center" placeholder="Enter Reg" id="regInput" name="VRN">
        </div>
        <div>
            <div class="d-grid">
                <button class="btn btn-warning btn-lg" type="submit">Search</button>
            </div>
        </div>
    </div>

    
</form>

<style>
    #regInput, #postcodeInput {
        text-transform: uppercase;
    }
</style>
