---
import Reviews from "./Hero/Reviews.astro";
import Features from "./Hero/Features.astro";
import Quote from "./Hero/Quote.astro";
import Tyreclick from "./Tyreclick.astro";
import FormTest from "./FormTest.astro";
const { bgImg, heading, tagline } = Astro.props;
---

<section id="hero" class="bg-overlay d-flex align-items-center">
    <div class="container">
        <div class="row g-3 py-5">
            <div class="col-12 col-lg-6 d-flex justify-content-center flex-column align-items-center align-items-lg-start text-light">
                <h2 class="display-5 fw-bold text-center text-lg-start">{heading}</h2>
                <p class="lead text-center fs-3 text-lg-start">{tagline}</p>
                <Reviews />
                <Features />
            </div>
            <div class="col-12 offset-lg-2 col-lg-4 d-flex justify-content-center align-items-center flex-column">
                <!-- <p class="text-white mt-3 text-center">Do you need help ASAP? <br /> <span class="fw-bold">Call Us On <a href="tel:01157270767" id="heroPhone">0115 727 0767</a></span></p> -->
                <!-- <Tyreclick/> -->
                <!-- <Quote /> -->
                <FormTest />
            </div>
        </div>
    </div>
</section>

<style define:vars={{bgImg}}>
    #hero {
        background-image: var(--bgImg);
        background-size: cover;
        background-position: center;
        min-height: 70vh;
    }

    #heroPhone {
        color: white;
    }

    #heroPhone:hover {
        color: #ccc;
    }

    .bg-overlay {
        box-shadow:inset 0 0 0 2000px rgba(33, 37, 41, 0.85);
    }
</style>