<nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
    <div class="container">
      <a class="navbar-brand fs-3 fw-bold" href="/">
        <img src="/img/logo.png" alt="Lindleys" width="250"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main_nav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="tyreServicesDropdownLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tyre Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="tyreServicesDropdownLink">
              <li><a class="dropdown-item" href="/tyre-services/mobile-tyre-fitting">Mobile Tyre Fitting</a></li>
              <li><a class="dropdown-item" href="/tyre-services/same-day-mobile-tyre-fitting">Same Day Mobile Tyre Fitting</a></li>
              <li><a class="dropdown-item" href="/tyre-services/caravan-mobile-tyre-fitting">Caravan Mobile Tyre Fitting</a></li>
              <li><a class="dropdown-item" href="/tyre-services/mobile-tyre-repair">Mobile Tyre Repair</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="otherServicesDropdownLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Other Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="otherServicesDropdownLink">
              
              <li><a class="dropdown-item" href="/other-services/batteries">Batteries</a></li>
              <li><a class="dropdown-item" href="/other-services/locking-wheel-nut-removal">Locking Wheel Nut Removal</a></li>
              <li><a class="dropdown-item" href="/other-services/tpms">TPMS</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="coverageDropdownLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Coverage
            </a>
            <ul class="dropdown-menu" aria-labelledby="coverageDropdownLink">
              <li><a class='dropdown-item' href='/coverage/arnold'>Arnold</a></li>
              <li><a class='dropdown-item' href='/coverage/beeston'>Beeston</a></li>
              <li><a class='dropdown-item' href='/coverage/carlton'>Carlton</a></li>
              <li><a class='dropdown-item' href='/coverage/hucknall'>Hucknall</a></li>
              <li><a class='dropdown-item' href='/coverage/ilkeston'>Ilkeston</a></li>
              <li><a class='dropdown-item' href='/coverage/kirkby-in-ashfield'>Kirkby-In-Ashfield</a></li>
              <li><a class='dropdown-item' href='/coverage/long-eaton'>Long Eaton</a></li>
              <li><a class='dropdown-item' href='/coverage/mansfield'>Mansfield</a></li>
              <li><a class='dropdown-item' href='/coverage/newark'>Newark</a></li>
              <li><a class='dropdown-item' href='/coverage/sutton-in-ashfield'>Sutton-In-Ashfield</a></li>
              <li><a class='dropdown-item' href='/coverage/west-bridgford'>West Bridgford</a></li>
              <li><a class='dropdown-item' href='/coverage/worksop'>Worksop</a></li>
          </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
