---
import TestimonialCard from "./Testimonials/TestimonialCard.astro";
---

<div class="bg-light py-5">
    <div class="container">
        <h3 class="text-center fs-2">What Our Customers Say</h3>
        <p class="text-center">With a five star rating on Google, you can trust us to look after your vehicle!</p>

        <div class="row g-3">
            <div class="col-12 col-md-6 col-xl-3">
                <TestimonialCard customerName="Rachel Fletcher">
                <p class="small">Thoroughly recommended. Came out within 45 minutes and replaced my totally flat tyre quickly and for a good price. Quote on the phone so knew how much in advance, great communication from the friendly fitter. Would definitely recommend and use again.</p>
                </TestimonialCard>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <TestimonialCard customerName="Mark Sansom">
                    <p class="small">Great service and very fast. Excellent communication from the tyre fitter.
                        Definitely use again and recommend.
                        Thank you</p>
                </TestimonialCard>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <TestimonialCard customerName="Dee Hickling">
                    <p class="small">Excellent service and price</p>
                </TestimonialCard>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <TestimonialCard customerName="Paul Baguley">
                    <p class="small">Brilliant service! Had a damaged tyre on a Sunday came out and repaired same day. Honest and reliable. Saved my day!</p>
                </TestimonialCard>
            </div>
        </div>

    </div>
</div>